*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right,rgb(46, 44, 44), rgb(202, 189, 189))
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  margin-top: 3rem;
  margin-bottom: 10rem;
  height: 500px;
  width: 400px;
  background-color: gray;
  opacity: .8;
  border: 4px solid black;
  border-radius: 3rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(120px, auto) repeat(5, 1fr);
  grid-template-areas: 
  "display display display display"
  "button button button button"
  "button button button button"
  "button button button button"
  "button button button button"
  "button button button button";
  gap: .2rem;
  background-color: gray;
  height: 22rem;
  width: 100%;
  border-radius: 6rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.display {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 3rem;
  min-height: 80px;
  max-height: 80px;
  padding: .5rem;
  grid-area: display;
  background-color: rgba(195, 202, 197, 0.596);
  border-radius: 1rem;
  border: 4px solid black;
  overflow: scroll;
}

[contentEditable=false]:empty:not(:focus):before{
  content:attr(data-text)
}

.storage {
  display: none;
  
}


.button {
  background-color: rgb(126, 183, 236);
  border: 4px solid black;
  border-radius: 1rem; 
  font-size: xx-large;
  font-weight: 600;
  height: 4rem;
  outline: none;
  color: black;
}

#zero {
  grid-column: 1/ -3;
}

#ac, #delete, #percent {
  background-color: rgb(67, 117, 224);
}

#divide, #multiply, #minus, #plus, #equal {
  background-color: rgb(236, 135, 41);
}

